<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block fos_user_head %}
        {% endblock fos_user_head %}

    </head>
    <body>
        {#<div>#}
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#Logged as: {{ app.user.username }} |#}
                {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#Log Out#}
                {#</a>#}
            {#{% else %}#}
                {#<a href="{{ path('fos_user_security_login') }}">Login</a>#}
            {#{% endif %}#}
        {#</div>#}


        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
